<?xml version="1.0"?>
<model>
  <name>orange_tarp_target</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Danny</name>
    <email>iniakundanny@gmail.com</email>
  </author>

  <description>
    5x5m Orange Tarp Drop Zone Target for KRTI Precision Airdrop.
  </description>
</model>
